@model List<ResultCategoryDto>
<section class="content-header">
    <h1>Basic Tables</h1>
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index" ><i class="fa fa-home"></i> Home</a></li>
        <li class="active"><i class="fa fa-bars"></i> Category</li>
    </ol>
</section>

<div class="col-md-12">
    <div class="chart-box">
        <h4>Categories List</h4>
        <div><a asp-controller="Category" asp-action="NewCategory" >Add New Category</a></div>
        <div class="bs-example" data-example-id="hoverable-table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                        <th>Category's Products</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach(var item in Model)
                        {
                            <td>@item.CategoryId</td>
                            <td>@item.CategoryName</td>
                            <td><a class="btn btn-warning" asp-controller="Category" asp-action="CategoryWithProducts" asp-route-categoryId="@item.CategoryId" >Products</a></td>
                            <td><a class="btn btn-danger" asp-controller="Category" asp-action="DeleteCategory" asp-route-categoryId="@item.CategoryId">Delete</a></td>
                            <td><a class="btn btn-success" asp-controller="Category" asp-action="UpdateCategory" asp-route-categoryId="@item.CategoryId">Update</a></td>
                        }
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>